USE [stock]
GO
/****** Object:  Table [MARBO].[stkid_all]    Script Date: 2016/7/22 下午 02:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARBO].[stkid_all](
	[sid] [nvarchar](8) NULL,
	[stock_name] [nvarchar](10) NULL,
	[captial] [int] NULL
) ON [PRIMARY]

GO
