USE [stock]
GO
/****** Object:  Table [dbo].[stkbasic]    Script Date: 2016/7/22 下午 02:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stkbasic](
	[stockid] [nvarchar](10) NULL,
	[qt] [nvarchar](10) NULL,
	[curcf_L] [int] NULL,
	[curcf_1] [int] NULL,
	[curcf_2] [int] NULL,
	[curcf_3] [int] NULL,
	[curcf_4] [int] NULL,
	[流通股本] [float] NULL,
	[yr] [int] NULL,
	[現金股利_1] [float] NULL,
	[現金股利_2] [float] NULL,
	[現金股利_3] [float] NULL,
	[現金股利_4] [float] NULL,
	[現金股利_5] [float] NULL,
	[現金股利_6] [float] NULL,
	[負債比] [float] NULL,
	[每股淨值] [float] NULL,
	[yr2] [nvarchar](20) NULL,
	[EPS_1] [float] NULL,
	[EPS_2] [float] NULL,
	[EPS_3] [float] NULL,
	[EPS_4] [float] NULL,
	[EPS_5] [float] NULL,
	[ROE_1] [float] NULL,
	[ROE_2] [float] NULL,
	[ROE_3] [float] NULL,
	[ROE_4] [float] NULL,
	[ROE_5] [float] NULL,
	[流動比率] [float] NULL,
	[速動比率] [float] NULL,
	[股價現金比] [float] NULL,
	[現金殖利率] [float] NULL,
	[QEPS_1] [float] NULL,
	[QEPS_2] [float] NULL,
	[QEPS_3] [float] NULL,
	[QEPS_4] [float] NULL,
	[QEPS_5] [float] NULL,
	[EPS4] [float] NULL,
	[PBR] [float] NULL,
	[PER] [float] NULL,
	[營收12] [int] NULL,
	[PSR] [float] NULL,
	[VAL] [smallint] NULL,
	[YRMAX] [float] NULL,
	[YRMIN] [float] NULL,
	[YRDOWN] [float] NULL,
	[長期投資_1] [int] NULL,
	[長期投資_5] [int] NULL,
	[固定資產_1] [int] NULL,
	[固定資產_5] [int] NULL,
	[稅後淨利_1] [int] NULL,
	[稅後淨利_2] [int] NULL,
	[稅後淨利_3] [int] NULL,
	[稅後淨利_4] [int] NULL,
	[四年盈再率] [float] NULL,
	[五年ROE平均] [float] NULL,
	[ROE_SC] [smallint] NULL,
	[GRMONTH] [nvarchar](7) NULL,
	[GRYOY_1] [float] NULL,
	[GRYOY_2] [float] NULL,
	[GRYOY_3] [float] NULL,
	[GRACC] [float] NULL,
	[QEG_1] [float] NULL,
	[QEG_2] [float] NULL,
	[QEG_3] [float] NULL,
	[QEG_4] [float] NULL,
	[QEG_5] [float] NULL,
	[QEG_6] [float] NULL,
	[QEG_7] [float] NULL,
	[QEG_8] [float] NULL,
	[QEG_SC] [smallint] NULL
) ON [PRIMARY]

GO
