CREATE TABLE stk(
	stockid nvarchar(10) NULL,
	dte datetime NULL,
	p_open float NULL,
	p_high float NULL,
	p_low float NULL,
	price float NULL,
	vol float NULL,
	ma20 float NULL,
	ma60 float NULL,
	ma120 float NULL,
	ma240 float NULL,
	ma200 float NULL,
	stddev20 float NULL,
	ub float NULL,
	lb float NULL,
	percentb float NULL,
	bandwidth float NULL,
	KDK float NULL,
	KDD float NULL,
	dif float NULL,
	macd float NULL,
	osc float NULL,
	MFI float NULL,
	ud20 nvarchar(1) NULL,
	ud60 nvarchar(1) NULL,
	ud200 nvarchar(1) NULL,
	ud_K nvarchar(1) NULL,
	ud_D nvarchar(1) NULL,
	ent12 float NULL,
	ent26 float NULL,
	sc_ma60 smallint NULL,
	sc_ma20 smallint NULL,
	sc_osc smallint NULL,
	sc_mfi smallint NULL,
	sc_kdk smallint NULL,
	sc_kdd smallint NULL,
	RSI12 float NULL,
	RSI6 float NULL,
	EMAU6 float NULL,
	EMAD6 float NULL,
	EMAU12 float NULL,
	EMAD12 float NULL,
	va5 int NULL,
	va10 int NULL,
	va20 int NULL,
	updown float NULL,
	ptbmfi float NULL,
	ptbrsi12 float NULL,
	sc_ma120 int NULL,
	RS float NULL,
	RS20 float NULL,
	ma5 float NULL,
	ptbw float NULL,
	stdbw float NULL,
	ma10 float NULL,
	ptbrsi6 float NULL,
	K26 float NULL,
	D26 float NULL,
	RSI8 float NULL,
	RSI25 float NULL,
	sc_D26 int NULL,
	sc_RSI8 int NULL,
	sc_RSI25 int NULL,
	EMAU8 float NULL,
	EMAD8 float NULL,
	EMAU25 float NULL,
	EMAD25 float NULL,
	sc_K26 int NULL,
	sc_ma10 smallint NULL,
	DI_P float NULL,
	DI_M float NULL,
	ADX float NULL,
	TR float NULL,
	DM_P float NULL,
	DM_M float NULL,
	sc_adx smallint NULL,
	ptbadx float NULL,
	dif_adx float NULL
) ON PRIMARY

GO
