USE [stock]
GO
/****** Object:  Table [dbo].[stkdate]    Script Date: 2016/7/22 下午 02:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stkdate](
	[stk_dte] [datetime2](7) NULL,
	[week_day] [smallint] NULL
) ON [PRIMARY]

GO
