USE [stock]
GO
/****** Object:  Table [MARBO].[datelist]    Script Date: 2016/7/22 下午 02:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARBO].[datelist](
	[stk_dte] [datetime] NULL,
	[week_day] [int] NULL
) ON [PRIMARY]

GO
